*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.colori-messaggi-verde{
    border: black solid 2px;
    background-color: green;
}

.sfondo-chat{
    margin: 0 auto;
    width: 70%;
    display: flex;
}
 
.colonna-dx{
    width: 30%;
    height: 600px;
    background-color: white;
    border: black solid 1px;
    
}
.colonna-sx{
    width: 70%;
    height: 600px;

    border: black solid 1px;
}
header{
    width: 100%;
    height: 60px;
    background-color:#D3D3D3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.altezza{
    height: 480px;
}
.sfondo-chat-1{
    width: 100%;
    height: 100%;
}
footer{
    width: 100%;
    height: 60px;
    background-color:#D3D3D3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.i-footer{
    font-size: 30px;
    margin: 0 auto;
}
.dimensione{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.notifiche{
    width: 100%;
    height: 70px;
    background-color: #00FFFF;
    display: flex;

    align-items: center;
}
.i-notifiche{
    font-size: 15px;
    color: #00FFFF;
    margin: 13px 13px;

}

.i-notifiche-dim{    
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;

}
.notifiche-text{
    font-size: 10px;

}
.cerca{
    background-color: white;
    display: flex;
    align-items: center;
    height: 30px;
}
.cerca-lente{
    width: 30%;
    height: 90%;
    background-color: #D3D3D3;
    margin-left: 15px;
    margin-right: 15px;
}
input{
    width: 100%;
    height: 90%;
    border-radius: 5%;

}
   

    
    

 
    
    
.contatti{
    width: 100%;
    height: 60px;
    margin-top: 15px;

}
.contatti-1{
    width: 100%;
    height: 60px;
    display: flex;
    margin-top: 15px;
}
.contatti-avatar-1{
    width: 60px;
    height: 60px;
    border-radius: 50%;

}







    


   




    
    
    

    