<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <div>

        <main id="app" class="sfondo-chat">
            <div class="colonna-dx">
                <header></header>
                <div class="notifiche">
                    <div class="i-notifiche-dim">
                        <i class="fas fa-bell-slash i-notifiche"></i>
                    </div>
                    <div class="notifiche-text">ricevi notifiche di nuovi messaggi</div>
                </div>

 
                <div class="cerca">
                    <i class="fas fa-search" class="cerca-lente"></i>
                    <input type="text" placeholder="cerca o inizia una nuova chat">
                </div>
                    


                <div class="contatti">
                    <div v-for="(contatti) in contacts" class="contatti-1">
                        <div class="contatti-avatar" >
                            <img :src="'img 2/avatar' + contatti.avatar +'.jpg'" class="contatti-avatar-1" alt="">
                        </div>
                        <div class="contatti-nomi">
                            <h5 class="contatti-nomi-1">{{contatti.name}}</h5>
                        </div>
                    </div>
                </div>

            </div>
            <div class="colonna-sx">
                <header>
                    <div>
                        <img class="dimensione" src="./img 2/avatar_1.jpg" alt="avatar_1">

                    </div>
                    <div>Michele</div>
                    <div>
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </header>
                <div class="altezza">
                    <div v-for="messaggi in contacts[0].messages">
                        {{messaggi.text}}
                    </div>


                </div>
                <footer>
                    <i class="far fa-smile i-footer"></i>
                    <input type="text" placeholder="scrivi qui">
                    <i class="fas fa-microphone i-footer"></i>
                </footer>
            </div>

        </main>

    </div>

    <script src="./js/script.js"></script>
</body>
</html>